@import "tailwindcss";
@layer utilities {
  @keyframes fade-in-up {
    0% {
      opacity: 0;
      transform: translateY(40px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes fade-in-left {
    0% {
      opacity: 0;
      transform: translateX(-40px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes fade-in-right {
    0% {
      opacity: 0;
      transform: translateX(40px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }


  .animate-fade-in-up {
    animation: fade-in-up 0.9s ease-out forwards;
  }

  .animate-fade-in-left {
    animation: fade-in-left 0.9s ease-out forwards;
  }

  .animate-fade-in-right {
    animation: fade-in-right 0.9s ease-out forwards;
  }
}


.background {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #000;
  overflow: hidden;
}

/* GRID LINES */
.background::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image:
    linear-gradient(to right, rgba(135, 134, 134, 0.18) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.04) 1px, transparent 1px);
  background-size: 14px 24px;
  pointer-events: none;
}

/* RADIAL GLOW */
.background::after {
  content: "";
  position: absolute;
  top: -10%;
  left: 50%;
  transform: translateX(-50%);
  width: 1000px;
  height: 1000px;
  border-radius: 50%;
  background: radial-gradient(
    circle 400px at 50% 300px,
    rgba(251, 251, 251, 0.22),
    #000
  );
  pointer-events: none;
}
